<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let p of pokemons">
      <ion-thumbnail>
        <img [alt]="p.name" [src]="p.image" />
      </ion-thumbnail>
      <ion-label>#{{getNumberNationalDex(p.species) }} {{p.name | titlecase }}</ion-label>
      <ion-button color="details" [routerLink]="['/detalhes/', p.id]" >
        <ion-icon name="reader-outline" color="primary" size="small"></ion-icon>
        <ion-label color="primary">Details</ion-label>
      </ion-button>
      <ion-button color="favorite">
        <ion-icon name="heart" color="danger" size="small"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
