<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-button 
      [routerLink]="['/home']" 
      expand="block" 
      size="small" 
      fill="outline">
      <ion-icon
         name="arrow-undo-circle-outline" color="success" size="small">
      </ion-icon>
      Voltar
    </ion-button>
  <ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Pokémon #{{ id }}</ion-title>
  </ion-toolbar>
</ion-header>


  <p>Carregando dados para o Pokémon {{ id }}...</p>

</ion-content>
